@import "bootstrap-icons/font/bootstrap-icons.css";



h1, h2, h3, h4, h5, h6 {
  color: #f8c471; /* Couleur dorée unifiée */
}
p {
  color: #f1f1f1f1;
}
a, button {
  color: #f8c471;
  text-decoration: none;
}

body, .homepage-container {
  background-color: #000; /* Fond noir */
 /* color: #f8c471; /* Texte doré */
  min-height: 100vh; /* Assure que le fond couvre toute la page */
  padding: 20px;
}

/* Groupe de boutons pour la navigation */
.button-group {
  text-align: right;
  margin-bottom: 20px;
}


.btn-nav:hover {
  background-color: #cda85b;
}

h1 {
  color: #f8c471; /* Titre doré */
  font-size: 24px; /* Taille ajustée du titre principal */
  margin-bottom: 30px;
}

.admin-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

/* Style du bouton Supprimer */
.btn-delete {
  padding: 8px 12px;
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #d00;
}

/* Style du bouton Modifier */
.btn-edit {
  padding: 8px 12px;
  background-color: #f8c471;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

/* Pagination styles */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  background-color: #f8c471;
  color: #000;
  border: none;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #cda85b;
}
.btn-edit:hover {
  background-color: #cda85b;
}

.btn-nav {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f8c471;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-nav i {
  margin-right: 8px;
}

.btn-nav:hover {
  background-color: #cda85b;
}

.cta {
  margin-top: 30px;
}

.contact-button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #f8c471;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;

}

.contact-button:hover {
  background-color: #cda85b;
  
}
